  img:hover{
    opacity: 0.5;
}

  img{
    border-radius: 3px;
}

img:hover{
  opacity: 0.5;
}

img{
  border-radius: 3px;
}

img:nth-child(2){
filter: grayscale(100%);
}

.scrollingMenu {
  width: 500px;
  background-color: rgb(61, 189, 228);
  text-align: center;
  
}
.scrollingMenu li {
  display: inline-block;
}
.scrollingMenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
.scrollingMenu a:hover {
  background-color: rgb(97, 214, 214);
}